@charset "utf-8";

@font-face {
  font-family: 'HS-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #333;
}

/* 태블릿, 모바일용 */
.xi-bars {
  display: none;
  /* i태그 대신 아이콘 클래스 명으로 변경(이유는...?) */
}

.m_nav {
  display: none;
}


/* header start */
header {
  width: calc(100% - 100px);
  /* clac : 함수 */
  height: 100px;
  margin: 0 auto;
  background-color: rgb(33, 33, 46);
  display: flex;
  line-height: 100px;
  position: relative;
  z-index: 9;
  justify-content: flex-end;
  /* nav를 끝쪽에 붙이기 위해 ,h1에 position값 줘서 안먹힘 */
}

header h1 a img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  /* a태그한테 위 값주면 안먹힘, a태그의 높이가 header의 100%를 잡고 있기 때문에! */
}

header .pc ul {
  display: flex;
}

header .pc ul li a {
  color: #fff;
  padding: 0 30px;
  display: block;
  /* a태그가 차지하는 위, 아래 영역 넓게 */
}

/* .main_visual start */
.main_visual {
  height: 100vh;
  /* position: relative; */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

}

.main_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_visual div {
  width: 100%;
  /*이 값을 주면 화면 크기를 줄이거나 늘려도 브라우저 영역 전체에 글자가 잡힘, 만일  글자영역이 부족한 경우 아래로 떨어지게 됨  */
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /* 수평50% 주면 글자영역이 브라우저 전체의 50%가 되므로 확대를 하든, 축소를 하는 글자가 브라우저 영역 전체 크기에 맞게 되지 않음 */
  text-align: center;
}

.map {
  /* height: 1000px; */
  background-color: #fff;
  z-index: 9;
  position: relative;
  margin-top: 100vh;
  /* .main_visual 이 가진 크기만큼 마진값 줘서 아래로 내려줌 */
  padding: 100px 0;
}

.map .cont {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.map .cont div h4 {
  font-size: 25px;
  font-family: 'HS-Regular';
}

.map .cont div p {
  font-size: 18px;
  margin-top: 10px;
}

.map .cont div dl {
  display: flex;
  margin: 30px 0 40px;
}

.map .cont div dl dt {
  font-weight: 700;
  margin-right: 10px;
}

.map .cont div dl dd {
  margin-right: 30px;
}

.map .cont iframe {
  width: 100%;
  /* 원래 1280px 잡아놓은거 부모가 가진 영역만큼만 가질 수 있도록 만듦 */
}

@media screen and (max-width : 1024px) {
  .pc {
    display: none;
  }

  .xi-bars {
    display: block;
    line-height: 100px;
    font-size: 30px;
    color: #fff;
    margin-right: 20px;
  }

  .xi-bars span {
    /* font-size: 0; */
    position: absolute;
    left: -999999999px
      /* 이 값을 음수가 아니라 양수를 쓰게 되면 가로 스크롤바가 생기게 됨, 그래서 음수를 씀! */
  }
}/* 1024px 이하일 때 */

@media screen and (max-width : 640px) {
  header{width : calc(100% - 50px);}
  /* 기호 앞뒤로 띄어쓰기 해야 적용됨 */
  .map .cont div h4{font-size: 20px;}
  .map .cont div p{font-size: 16px;}
  .map .cont div dl{flex-wrap: wrap;} 
  .map .cont div dl dt{width : 10%;}
  .map .cont div dl dd{width : 80%; margin-right: 0;}
  /* dt와 dd의 값이 100%가 될 수 있도록 해줘야 dt,dd가 한쌍씩 잘 떨어짐  */
}/* 640px 이하일 때 */
